## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [2]:
# Display the mouse_metadata
# Each row of the mouse_metadata dataset contains unique mouse
mouse_metadata.sort_values('Mouse ID').head()

   Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
49     a203    Infubinol  Female          20          23
50     a251    Infubinol  Female          21          25
51     a262      Placebo  Female          17          29
52     a275     Ceftamin  Female          20          28
53     a366     Stelasyn  Female          16          29

In [3]:
# Display the study_results
# The dataset looks to contains 10 entries for each mice
study_results.sort_values('Mouse ID').head(11)

     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
113      a203          0           45.000000                 0
389      a203          5           48.508468                 0
1295     a203         25           56.793208                 1
1675     a203         40           63.593490                 2
1577     a203         35           61.931650                 2
598      a203         10           51.852437                 1
1018     a203         20           55.173336                 1
758      a203         15           52.777870                 1
1804     a203         45           67.973419                 2
1315     a203         30           59.523197                 1
1731     a251         40           63.095076                 1

In [4]:
# Combine the data into a single dataset
drug_study_df = pd.merge(mouse_metadata, study_results, on='Mouse ID')

# Display the data table for preview
drug_study_df.sort_values('Mouse ID').head(11)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
460,a203,Infubinol,Female,20,23,30,59.523197,1
461,a203,Infubinol,Female,20,23,35,61.931650,2
459,a203,Infubinol,Female,20,23,25,56.793208,1
458,a203,Infubinol,Female,20,23,20,55.173336,1
457,a203,Infubinol,Female,20,23,15,52.777870,1
456,a203,Infubinol,Female,20,23,10,51.852437,1
462,a203,Infubinol,Female,20,23,40,63.593490,2
463,a203,Infubinol,Female,20,23,45,67.973419,2
455,a203,Infubinol,Female,20,23,5,48.508468,0
454,a203,Infubinol,Female,20,23,0,45.000000,0
468,a251,Infubinol,Female,21,25,20,54.462594,1

In [5]:
# Checking the number of mice.
drug_study_df['Mouse ID'].value_counts()

g989    13
t451    10
o331    10
a520    10
a203    10
        ..
x226     1
f932     1
b447     1
h428     1
o848     1
Name: Mouse ID, Length: 249, dtype: int64

In [35]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# drug_study_df[['Mouse ID','Timepoint']].duplicated(keep='last')

# filt_duplicated = drug_study_df.duplicated(subset=['Timepoint'])
# filt_duplicated

# filt_duplicated = drug_study_df[['Mouse ID','Timepoint']].duplicated()

# print(filt_duplicated.loc[filt_duplicated==True]) 

# drug_study_df.loc[filt_duplicated==True]

10      True
11      True
12      True
13      True
14      True
        ...
1888    True
1889    True
1890    True
1891    True
1892    True
Length: 1883, dtype: bool

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
10,s185,Capomulin,Female,3,17,0,45.000000,0
11,s185,Capomulin,Female,3,17,5,43.878496,0
12,s185,Capomulin,Female,3,17,10,37.614948,0
13,s185,Capomulin,Female,3,17,15,38.177232,0
14,s185,Capomulin,Female,3,17,20,36.866876,0
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [7]:
# Optional: Get all the data for the duplicate mouse ID.

In [8]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [9]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [10]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

In [11]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

## Bar and Pie Charts

In [12]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [13]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [14]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [15]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [16]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [17]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [18]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [19]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [20]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [21]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen